<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PUT" th:action="@{/books/}" th:object="${book}">

    <label for="name">Enter book title: </label>
    <input type="text" th:field="*{title}" id="name">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</div>
    <br/>

    <label for="author">Enter book author: </label>
    <input type="text" th:field="*{author}" id="author">
    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">error</div>
    <br/>

    <label for="date">Enter year of published: </label>
    <input type="text" th:field="*{yearOfPublished}" id="date">
    <div th:if="${#fields.hasErrors('yearOfPublished')}" th:errors="*{yearOfPublished}">error</div>
    <br/>
    <hr/>

    <input type="submit" value="Add new book">
</form>

</body>
</html>