<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${person.getId()+') '+person.getFullName()+', '+person.getAge()}">person</p>

<hr/>
<div th:if="${books.isEmpty()}">
    <p>Customer haven't any book</p>
</div>

<div th:if="${!books.isEmpty()}">
    <p>Customer has next books: </p>
    <div th:each="book : ${books}">
        <p th:text="${book.getId()+') '+book.getName()+', '+book.getDateOfPublishing()}">book</p>
    </div>
</div>

<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete this person">
</form>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit person">
</form>

</body>
</html>