<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${person.getId()+') '+person.getFullName()+', '+person.getAge()}">person</p>

<hr/>
<div th:if="${books.isEmpty()}">
    <p>Customer haven't any book</p>
</div>

<div th:if="${!books.isEmpty()}">
    <p>Customer has next books: </p>
    <table th:each="book : ${books}">
        <tr>
            <td>
        <span th:text="${book.getId()+') '+book.getTitle()+', '+book.yearOfPublished}"
              th:style="${book.isExpired()} ? 'color:red' : 'color:black'">book</span>
            </td>
        </tr>
    </table>
</div>

<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete this person">
</form>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit person">
</form>

</body>
</html>